* {
    box-sizing: border-box;
}

body {
  background-color: white;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu";
}
